@import "~normalize.css/normalize.css"

html
body
  color #3d3d3d
  height 100%
  font-family 'LatoWeb'
ul
  margin 0

#hiaHAM
  height 100%

@font-face {
    font-family 'LatoWeb'
    src url('fonts/Lato-Regular.eot')
    src url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Regular.woff2') format('woff2'),
         url('fonts/Lato-Regular.woff') format('woff'),
         url('fonts/Lato-Regular.ttf') format('truetype')
    font-style normal
    font-weight normal
    text-rendering optimizeLegibility
}

@font-face {
    font-family 'LatoWebSemibold'
    src url('fonts/Lato-Semibold.eot')
    src url('fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Semibold.woff2') format('woff2'),
         url('fonts/Lato-Semibold.woff') format('woff'),
         url('fonts/Lato-Semibold.ttf') format('truetype')
    font-style normal
    font-weight normal
    text-rendering optimizeLegibility
}

@font-face {
    font-family 'LatoWebSemibold'
    src url('fonts/Lato-SemiboldItalic.eot')
    src url('fonts/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-SemiboldItalic.woff2') format('woff2'),
         url('fonts/Lato-SemiboldItalic.woff') format('woff'),
         url('fonts/Lato-SemiboldItalic.ttf') format('truetype')
    font-style italic
    font-weight normal
    text-rendering optimizeLegibility
}

@font-face {
    font-family 'LatoWebThin'
    src url('fonts/Lato-Thin.eot')
    src url('fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Thin.woff2') format('woff2'),
         url('fonts/Lato-Thin.woff') format('woff'),
         url('fonts/Lato-Thin.ttf') format('truetype')
    font-style normal
    font-weight normal
    text-rendering optimizeLegibility
}
