.homepage
  height 100%

  &.\\--gallery .homepage__full-background
    background require('./images/stockPhoto1.jpg')
    transition all 5s
    opacity 1

  &.\\--dim .homepage__first-section
  &.\\--dim .homepage__profile-button
    background white
  &.\\--dim .homepage__expandable
    color #515151
  &.\\--dim .homepage__highlight
    color white

  &__full-background
    width 100%
    height 100%
    display none
    opacity 0

  &__first-section
    background #00B4FF
    width 100%
    height 100%

  &__profile-button
    font-family 'Kanit', sans-serif
    font-weight 600
    position absolute
    right 0
    background #f8ca00
    color white
    padding 5px 10px
    top 50%
    cursor pointer
    &:hover
      color #515151
  
  &__main-content
    position fixed
    display flex
    top 40%
    left 100px

  &__logo
    margin 16px 15px 0 0
    img
      height 44px

  &__text-content
    min-width 560px
    flex 1

  &__name
    font-family 'Kanit', sans-serif
    font-weight 600
    font-size 4em
    text-transform uppercase
    color white
  
  &__tag-line
    font-family 'Raleway', sans-serif
    font-weight 200
    font-size 1.2em
    line-height 1.2
    color white
  
  &__highlight
    color #F8CA00
    font-weight 600
  
  &__expandable
    border-bottom 2px solid white
    cursor default
  
  &__main-button-group
    margin-top 20px
  
  &__first-section-bottom
    font-family 'Kanit', sans-serif
    color white
    bottom 20px
    position absolute
    text-align center
    width 100%
  
#passionate
  margin-left 5px

@media(max-width: 830px)
  .homepage__main-content
    left  0
    padding 15px
    box-sizing border-box
  
@media(max-width: 550px)
  .homepage__main-content
    top 20%
    width 100%
    display block
  .homepage__logo
    margin-bottom 10px
  .homepage__text-content
    min-width auto
    width 100%
  .homepage__name
    font-size 10vw
  .homepage__tag-line
    font-size 3vw
  
  .homepage__logo
  .homepage__name
  .homepage__tag-line
  .homepage__main-button-group
    text-align center
  .collapsible-button-group
    display block