.homepage
  height 100%

  &.\\--dim
    background white
  &.\\--dim .homepage__expandable
    color #515151
  &.\\--dim .homepage__highlight
    color white

  &__first-section
  &__second-section
    background #00B4FF
    width 100%
    height 100%
  
  &__main-content
    position fixed
    width 560px
    top 40%
    left 200px

  &__name
    font-family 'Kanit', sans-serif
    font-weight 600
    font-size 4em
    color white
  
  &__tag-line
    font-family 'Raleway', sans-serif
    font-weight 200
    font-size 1.2em
    line-height 1.2
    color white
  
  &__highlight
    color #F8CA00
    font-weight 600
  
  &__expandable
    border-bottom 2px solid white
    cursor default
  
  &__main-button-group
    margin-top 20px
  
  &__first-section-bottom
    font-family 'Kanit', sans-serif
    color white
    bottom 20px
    position absolute
    text-align center
    width 100%

  &__paper-container
    width 100%
    height 100%
    background-image linear-gradient(to bottom, transparent, #00B4FF)

  &__paper
    width 70%
    background-color white
    margin auto
  
#passionate
  margin-left 5px
