.navigation
  position fixed
  width 100%
  height 70px
  padding 10px 30px
  box-sizing border-box

  &.\\--bright
    color #e5e5e5
    .navigation__logo
      filter brightness(400%)
  &.\\--dark
    color #424242

  &__container
    width 100%
    height 100%
    display inline-flex

  &__left
    display flex

  &__spacer
    flex 1

  &__right
    display flex

  &__logo-container
    height 50px

  &__logo
    height 100%
